<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="container">
      <h1>Create Game</h1>
      <form class="my-4" action="/create-games" method="post">
        <div class="form-floating mb-3">
          <input
            name="title"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="" />
          <label for="floatingInput">Title</label>
        </div>

        <div class="my-3 p-3 border rounded">
          <p>Questions</p>

          <% if (questions.length > 0){ %> <% questions.forEach(item => { %>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="questions"
              value="<%= item.id %>" />
            <label class="form-check-label" for="questions">
              <%= item.question %> (
              <em class="check-label-answer"><%= item.answer %></em>
              )
            </label>
          </div>
          <% }); %> <% } %>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>

      <% if (locals.message){ %>
      <div
        class="toast fade show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body"><%= message %></div>
          <button
            type="button"
            class="btn-close me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
      <% } %>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
